*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.back{
    background: rgb(194, 48, 77);
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top:44px;
    align-items: center;
    justify-content: center;
    display:flex;
    width:180px;
}
.title h1{
  	text-align:center;
    border-bottom: 2px solid crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    color:crimson;
}
.back .direitos{
	position:fixed;
}
.back .direitos p{
  	margin-top: 60px;
  	color: white;
	text-align:center;
}
.form{
    margin-top:30px;
    align-items: center;
    justify-content: center;
    width: 320px;
  	min-width:320px;
    height: 340px;
    background: white;
    display:block;
    border-radius: 10px;
}
.form button{
    font-size:16px;
    border-radius:5px;
    height:35px;
    width:180px;
    color:white;
    background:rgb(20, 157, 220);
    border:none;
    margin-top: 13px;
}
.form button:hover{
    border-radius:5px;
    height:35px;
    width:180px;
    color: rgb(20, 157, 220);
    background: white;
    border: 2px solid rgb(20, 157, 220);
    margin-top: 13px;
    cursor: pointer;
}
.input{
  	height:40vh;
    align-items: center;
    width:40px;
    display:block;
    padding-left:75px;
    margin-top:70px;
}
.input input{
    width:180px;
    height:35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
    margin-top:14px;
    padding:10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
}
.input input:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.input .aviso{
    margin-top: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 180px;
    border: 2px solid rgb(141, 7, 7);
    background-color: rgba(255, 82, 82, 0.589);
    color: rgb(37, 4, 4);
}
.input .aviso.mostrar{
    animation: tremer .4s;
    display: flex;
}
@keyframes tremer{
    0% {margin-left: 0;}
    25% {margin-left: 13px;}
    50% {margin-left: 0;}
    75% {margin-left: -13px;}
    100% {margin-left: 0;}
}
@media screen and (max-width: 980px){
  	
}