.modal-pag .loading{
    top: 0px;
    width: 590px;
    height: 500px;
    background: rgba(255, 255, 255, 0.336);
    justify-content: center;
    align-items: center;
    display: block;
    padding: 15px;
    border-radius: 15px;
}
.modal-pag .loading .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}
