.sumario{
    margin: 0px 25px 25px 25px;
    background: white;
    min-height: 100vh;
    display: block;
    width: 100%;
}
.sumario .titulo{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--vermelho);
    color: var(--vermelho);
}
.sumario h2{
    color: var(--vermelho);
}
.sumario h2{
    padding-left: 25px;
}
.sumario h1{
    padding-left: 25px;
}
.sumario .segundo{
    padding-left: 59px;
}
