.titulo_pesquisa h1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    padding: 5px 39.5px;
}
.titulo_pesquisa select{
      font-size: 25px;
      background: var(--vermelho);
      color: #ffffff;
      border: none;
      padding: 1px 5px;
      font-weight: bold;
}
.dre {
    min-height: 72vh;
    background: white;
    flex: 5;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.dre .titulo_pesquisa{
    background: var(--vermelho);
    display: flex;
    border-bottom: 2px solid rgb(83, 83, 83) ;
}
.dre .titulo_dre{
    display: flex;
    background: #a5a5a5;
    border-bottom: 2px solid rgb(83, 83, 83) ;
}
.dre .titulo_dre2{
    display: flex;
    background: #ffffff;
    border-bottom: 2px solid rgb(83, 83, 83) ;
  
}
.dre .resultado_negativo_dre{
    display: flex;
    background: #a53434;
    border-bottom: 2px solid rgb(83, 83, 83) ;
}
.dre .resultado_positivo_dre{
    display: flex;
    background: #00bb38;
    border-bottom: 2px solid rgb(83, 83, 83) ;
}
.saida_rs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:405px;
    color: #e20000;
    padding: 5px 15px;
}
.saida_rs2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #e20000;
    padding: 5px 15px;
    border-left: 2px solid #363636;
}


.valor_rs{
    border-left: 2px solid #363636;
  }
.resultado_rs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:405px;
    color: #252525;
    padding: 5px 15px;
}
.resultado_rs2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #252525;
    padding: 5px 15px;
    border-left: 2px solid #363636;
}
.entrada_rs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width:405px;
    color: #252525;
    padding: 5px 15px;
}
.entrada_rs2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #252525;
    padding: 5px 15px;
    border-left: 2px solid #363636;
}
@media screen and (max-width: 640px){
    .entrada_rs{
        width: 111px;
    }
    .entrada_rs2{
        width: 111px;
    }
    
    .resultado_rs{
        width: 111px;
    }
    .dre {
        width: 48vw;
    }
    .dre h1{
        padding: 5px 3px;
        font-size: 16px;
    }
}